body {
  background-color: #9fe09f; /* Very light green */
  color: rgb(27, 84, 27);               /* Dark text for contrast */
  font-family: Arial, sans-serif; /* Default font family */
  margin: 0;                /* Remove default body margin */
  padding: 0;  
  overflow: hidden;  
  scroll-behavior: smooth;           /* Remove default body padding */
  display: flex; 
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; 
  }
  .landingPage{
    margin-top: 50px;
    
  }
  .discription {
    padding: 10px;
    
  }

}
